body {
    margin: 30px;
    text-align: center;
}

h1,h2 {
    color: #cc9543;
}

img {
    max-width: 596px;
}

ul,ol,p {
    text-align: left;
    width: 596px;
    margin: auto;
}

ol {
    list-style-type: none;
}

p {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #cc9543;
}

#img-caption {
    text-align: left;
    width: 596px;
    margin: auto;
    font-size: smaller;
}

.nav {
    text-align: center;
    margin-top: 30px;
}
